  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Rethink Sans", sans-serif;
}

body {
  background: #f8f8f8;
  color: #222;
}

/* Cabeçalho */
.cabecalho {
  background: url('imagemFundo.png') no-repeat center center/cover;
  filter: brightness(1.0);
  height: 500px;
  padding: 20px;
  color: #fff;
 
}

.cabecalho::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6); 
  z-index: -1; 
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.logo {
  width: 80px;
}

.texto-cabecalho h1 {
  margin-top: 100px;
  font-size: 3.5rem;
  margin-left: 150px
}

.texto-cabecalho span {
  color: #DCB536;
}

/* Resumo */
.resumo {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 20px;
}
.iconresumo{
    font-size: 40px;
}

.caixa-resumo {
  background: #444444;
  color: white;
  padding: 40px;
  border-radius: 10px;
  font-weight: bold;
  width: 350px;
  height: 120px;
  margin-top: -80px;
  z-index: 1;
  font-size: 27px;
  text-align: center;
}

/* Pesquisa */
.pesquisa {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.pesquisa input {
  width: 79%;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

/* Produtos */
.produtos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.caixa-produto {
  display: flex;
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.caixa-produto img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-right: 20px;
}

.info h2 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.botoes {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

i {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
}

.descricao {
  font-size: 0.9rem;
  color: #555;
}
/* footer */
footer {
    margin-top: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    background-color: #D09900;
    width: 100%;
    color: rgb(255, 255, 255);
}

#footer {
    justify-content: space-evenly;
    display: flex;
    padding: 20px;
}

footer h2 {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
  .cabecalho {
    height: 300px;
    text-align: center;
  }

  .texto-cabecalho h1 {
    font-size: 2rem;
    margin-top: 70px;
    margin-left: 0;
  }

  .resumo {
    flex-direction: column;
    align-items: center;
    gap: 13px;
  }

  .caixa-resumo {
    width: 80%;
    margin-top: 0px;
    font-size: 20px;
    height: 85px;
    padding: 25px;
  }

  .produtos {
    padding: 10px;
    display: flex;
    align-items: center;
  }

  .caixa-produto {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 78%;
  }

    
}