  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rethink Sans", sans-serif;
  }

  body {
    background: #f8f8f8;
    color: #222;
  }

  /* Cabeçalho */
  .cabecalho {
    background: url('img/imagemFundo.png') no-repeat center center/cover;
    filter: brightness(1.0);
    height: 80vh;
    padding: 20px;
    color: #fff;
    width: 100%;

  }

  .cabecalho::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.842);
    z-index: -1;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }

  .menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  .logo {
    width: 80px;
  }

  .texto-cabecalho h1 {
    margin-top: 100px;
    font-size: 3.8rem;
    margin-left: 150px;

  }

  .texto-cabecalho span {
    color: #e8c869;
  }

  .texto-cabecalho b {
    font-weight: 700;
    background-image: url(./img/images.jfif);
    background-repeat: repeat;
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Resumo */
  .resumo {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 20px;
  }

  .iconresumo {
    font-size: 40px;
  }

  .caixa-resumo {
    background: #ED4E81;
    color: white;
    padding: 40px;
    border-radius: 10px;
    font-weight: bold;
    width: 350px;
    height: 120px;
    margin-top: -80px;
    z-index: 1;
    font-size: 27px;
    text-align: center;
  }

  .caixa-resumo p{
    display: flex;
    align-items: center;
    text-align: center;
   gap: 10px;
  }

  .caixa-resumo i{
    margin-left: 50px
  }

  /* Pesquisa */
  .pesquisa {
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  .pesquisa input {
    width: 79%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }

  /* Produtos */
  .produtos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .caixa-produto {
    display: flex;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }

  #caixa-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    background-color: #D9C3DF;
    border-radius: 10px;
  }

  .caixa-produto img {
    width: 120px;
    height: 120px;
    object-fit: contain;
  }

  .comment {
    display: flex;
    justify-content: space-between;
  }

  .info h2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  .botoes {
    display: flex;
    gap: 10px;
    margin: 10px 0;
  }

  .info {
    padding: 15px;
    width: 1200px;
  }

  i {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .descricao {
    font-size: 0.9rem;
    color: #555;
  }

  /* alert add  */
  .button {
    padding: 12px;
    width: 205px;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 700;
    background-color: #6B3F82;
  }

  .button:hover {
    cursor: pointer;
  }

  .swal2-input-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 10px;
    gap: 80px;
    text-align: left;
  }

  .swal2-input-container input {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin: 0;
  }

  .swal2-input-container input::placeholder {
    color: #bebebe;
   
  }

  .swal2-input-container label {
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    color: #555;
    margin: 10px 0;
  }

  .swal2-input-container input[type="file"], #desc input{
    width: 300px;
    height: 180px;
    margin: 0;
  }
  #select{
    height: 80px;
  }
  #quantidade{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .swal2-input-container input[type="file"]{
    padding: 12%;
  }

  .swal2-input-container input[type="file"]::file-selector-button{
    background-color: #D9C3DF;
    margin: 20px auto 10px auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
      border: none;
      color: #6b6969;
      text-align: center;
  }

  .swal2-input-container #div-pq{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 ;
  }
  .swal2-input-container #div-pq input{
    width: 140px;
    height: 50px;
    padding: 5px;
  }
  
  .swal2-input-container #qnt{
    margin: 0 20px;
  }

  .swal2-input-container .pt1,
  .pt2 {
    display: flex;
    flex-direction: column;
  }

  .swal2-input-container .pt2{
    margin-top: 10px;
  }

  .swal2-input-container select{
    height: 50px;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: #555;
    font-size: 16px;
  }
     option:hover {
        background-color: #fca33f;
     
    }

    /* comentarios  */
  .swal2-comt-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    gap: 10px;
    text-align: left;
  }

  .swal2-comt-container .cima-comt{
    display: flex;
    justify-content: space-between;
  }

  .swal2-comt-container .cima-comt p{
    color: #706f6f;
    font-size: 12px;
  }

  .swal2-comt-container .cima-comt h5{
    font-size: 15px;
  }

  .swal2-comt-container input{
    padding: 16px;
    border: 1px solid #A979B4;
    border-radius: 15px;
    width: 100%;
  }

  .swal2-comt-container input::placeholder{
    font-size: 16px;
  }


  /* footer */
  footer {
    margin-top: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    background-color: #ED4E81;
    width: 100%;
    color: rgb(255, 255, 255);
  }

  #footer {
    justify-content: space-evenly;
    display: flex;
    padding: 20px;
  }

  footer h2 {
    margin-bottom: 10px;
  }

  footer ul {
    list-style: none;
    line-height: 2;
  }

  .equipe ul a{
    text-decoration: none;
    color: white;
    line-height: 20px;
  }

  .hamburguer {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 20px;
  cursor: pointer;
}

.hamburguer span {
  height: 3px;
  width: 100%;
  background-color: #E6C971;
  border-radius: 10px;
  transition: all 0.3s ease;
}


.hamburguer.ativo span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburguer.ativo span:nth-child(2) {
  opacity: 0;
}

.hamburguer.ativo span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

  @media (max-width: 768px) {
    .cabecalho {
      height: 400px;
    }
.hamburguer {
    display: flex;
  }

  .menu ul {
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #F1DEA8;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px;
    gap: 15px;
    display: none;
    z-index: 10;
  }

  .menu ul.show {
    display: flex;
  }

  .menu ul li a {
    color: #222;
    font-weight: 600;
    transition: color 0.2s ease;
  }

  .menu ul li a:hover {
    color: #F16B97;
  }

    .texto-cabecalho h1 {
      font-size: 2rem;
      margin-top: 70px;
      margin-left: 0;
    }

    .resumo {
      flex-direction: column;
      align-items: center;
      gap: 13px;
    }

    .caixa-resumo {
      width: 80%;
      margin-top: 0px;
      font-size: 20px;
      height: 85px;
      padding: 25px;
    }

    .produtos {
      padding: 10px;
      display: flex;
      align-items: center;
      text-align: center;
    }

    #caixa-img {
      margin: 0;
          width: 340px;
    height: 120px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    }

    .caixa-produto {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 85%;
    }

.info{
  width: 300px;

}
  }